[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 default_realm = {{ kerberos_client_realm_name|upper() }}
 dns_lookup_realm = {{ kerberos_client_dns_lookup_realm }}
 dns_lookup_kdc = {{ kerberos_client_dns_lookup_kdc }}
 ticket_lifetime = {{ kerberos_client_ticket_lifetime }}
 renew_lifetime = {{ kerberos_client_renew_lifetime }}
 forwardable = {{ kerberos_client_forwardable }}

[realms]
 {{ kerberos_client_realm_name| upper() }} = {
  {% for host in groups['kdc_servers'] %}
  kdc = {{ host }}.{{ kerberos_client_realm_name|lower() }}
  {% endfor %}  
  admin_server = {{ kerberos_client_admin_hostname }}.{{ kerberos_client_realm_name|lower() }}

  #
  # Use 'auth_to_local' to extract local username from Kerberos Principal. The local username is expected to
  # be the first component in the principal
  # Ex.
  # bob@EXAMPLE.COM: First rule wins; local username is 'Bob'
  # steve/server.com@EXAMPLE.COM Second rule wins: local username is 'steve'
  # All other principals will return entire principal as the local user name (default behavior)
  #
  auth_to_local = RULE:[2:$1]
  auth_to_local = DEFAULT
 }

[domain_realm]
 .{{ kerberos_client_realm_name|lower() }} = {{ kerberos_client_realm_name|upper() }}
  {{ kerberos_client_realm_name|lower() }} = {{ kerberos_client_realm_name|upper() }}
